.menu li {
  top: 100%;
  left: 0;
  position: absolute;
}

.sticky-bar {
  top: 0;
  left: 0;
  position: fixed;
}

.submenu {
  position: relative;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: scroll;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font-size: 99%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

@font-face {
  font-family: mariokart;
  src: url("../Utils/FOT-RodinNTLGPro-EB.otf");
}
body,
html {
  font-family: mariokart;
  background-image: url("../Utils/pt_top.png");
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

div#rotateScreen {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: white;
}
div#rotateScreen h1 {
  text-align: center;
}
@media (orientation: portrait) {
  div#rotateScreen {
    display: flex;
  }
}

div.icon {
  position: absolute;
  left: 0.5vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
div.icon img {
  height: 12vh;
  width: auto;
}
div.icon h1 {
  font-size: calc(2.5vw + 2.5vh);
  color: #00abee;
}

img.background {
  position: absolute;
  width: 50vw;
  top: 15vh;
  left: 25vw;
  height: auto;
  opacity: 0.2;
  transform: skew(-10deg);
}

div.topPanel {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
div.topPanel div {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.topPanel div h3 {
  font-size: calc(1vw + 1vh);
  color: #00abee;
}
div.topPanel div input {
  height: 3vh;
  width: 3vh;
}

div.combo {
  position: absolute;
  width: 80%;
  top: 17%;
  left: 10%;
  height: 50%;
  display: grid;
  grid-template-areas: "stats char" "stats vehicle" "btn btn";
  justify-content: center;
  grid-gap: 1vw;
}
div.combo div#stats {
  grid-area: stats;
  border: calc(0.2vw + 0.2vh) gold solid;
  width: 40vw;
  height: 45vh;
  color: black;
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: calc(0.1vh + 0.1vh);
  -webkit-text-stroke-color: black;
  font-size: calc(1vw + 1vh);
  display: grid;
  grid-template-areas: "spd spdBar" "wt wtBar" "acc accBar" "hand handBar" "drift driftBar" "or orBar" "mt mtBar" "type driftStyle";
  justify-content: flex-start;
  align-items: center;
}
div.combo div#stats div.statBar {
  background-color: gold;
  height: 50%;
  width: 10px;
  transition: width 1s;
}
div.combo div#stats div#spd {
  grid-area: spd;
  width: 100%;
}
div.combo div#stats div#spdBar {
  grid-area: spdBar;
}
div.combo div#stats div#wt {
  grid-area: wt;
  width: 100%;
}
div.combo div#stats div#wtBar {
  grid-area: wtBar;
}
div.combo div#stats div#acc {
  grid-area: acc;
  width: 100%;
}
div.combo div#stats div#accBar {
  grid-area: accBar;
}
div.combo div#stats div#hand {
  grid-area: hand;
  width: 100%;
}
div.combo div#stats div#handBar {
  grid-area: handBar;
}
div.combo div#stats div#drift {
  grid-area: drift;
  width: 100%;
}
div.combo div#stats div#driftBar {
  grid-area: driftBar;
}
div.combo div#stats div#or {
  grid-area: or;
  width: 100%;
}
div.combo div#stats div#orBar {
  grid-area: orBar;
}
div.combo div#stats div#mt {
  grid-area: mt;
  width: 100%;
}
div.combo div#stats div#mtBar {
  grid-area: mtBar;
}
div.combo div#stats div#type {
  grid-area: type;
  width: 100%;
}
div.combo div#stats div#driftStyle {
  grid-area: driftStyle;
}
div.combo div#char {
  grid-area: char;
}
div.combo div#vehicle {
  grid-area: vehicle;
}
div.combo .btn {
  grid-area: btn;
  position: absolute;
  top: 60%;
  left: 5%;
  width: 90%;
}
div.combo .btn h1 {
  width: 100%;
}
div.combo .btn:hover {
  background-color: rgba(255, 215, 0, 0.4);
}
div.combo h1 {
  font-family: mariokart;
  color: black;
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: calc(0.2vh + 0.2vh);
  -webkit-text-stroke-color: black;
  font-size: calc(3vw + 3vh);
  text-align: center;
  height: 20vh;
  width: 50vw;
  margin: 1vw auto unset auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: calc(0.2vw + 0.2vh) gold solid;
  background-color: rgba(0, 0, 0, 0.4);
}

h2#surprise {
  position: absolute;
  top: 90%;
  right: 2%;
  width: 98%;
  text-align: right;
  color: black;
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: calc(0.1vh + 0.1vh);
  -webkit-text-stroke-color: black;
  font-size: calc(1vw + 1vh);
}

p#authorText {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #00abee;
  font-size: calc(1vw + 1vh);
}

/*# sourceMappingURL=main.css.map */
